html {
background: url(images/bg.jpg) no-repeat center center fixed;
background-size: cover;
}
body{
  height: 100%;
}
.header{
  color: blue;
  background: yellow;
}
.header-2{
  color: red;
  background: green;
}
